{% extends "account/layout.html" %} 
{% block content %}


<html lang="en">

<head>
    {% load static %}
    {% comment %} <link rel='stylesheet' type='text/css' href={% static 'startbootstrap-new-age-gh-pages/css/style.css'%}> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'app/content/site_one.css' %}" /> {% endcomment %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titlle}}</title>
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> {% endcomment %}
    <script src="https://cdn.ckeditor.com/4.17.2/standard/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>
    <form class='edit-weblog' action={% url 'save_blog' id%} method="post">
        {% csrf_token %}
        <br>
        <br>
        <br>
        <nav class='edit-weblog-nav'>
            Title:<br>
            <textarea name="title" maxlength=200>{{ title}}</textarea>
            <br> text of your weblog:<br>
            <textarea name="text" id="editor1" rows="10" cols="80" placeholder="این قسمت بدنه متن شما است">{{ text}}
            </textarea>
            <script>
            CKEDITOR.replace( 'editor1' );
            config.fullPage = true;
            </script>
            
            

            <script type="text/javascript">
                function readTextFile(file, callback, encoding) {
            var reader = new FileReader();
            reader.addEventListener('load', function (e) {
                callback(this.result);
            });
            if (encoding) reader.readAsText(file, encoding);
            else reader.readAsText(file);
            }

            function fileChosen(input, output) {
            if (input.files && input.files[0]) {
                readTextFile(
                input.files[0],
                function (str) {
                output.value = str;
                }
                );
            }
            }

            $('#files').on('change', function () {
            var result = $("#files").text();
            
            fileChosen(this, document.getElementById('editor1'));
            CKEDITOR.instances['editor1'].setData(result);
            });
            </script>
            <input type="submit">
        </nav>
    </form>
    <!-- delet_blog -->
    <form action={% url 'delete_blog' id%} method="post">
        {% csrf_token %}
        <input type="submit" value="Delet" class="Delet-input" style="background-color:red;">
    </form>
</body>


</html>
{% endblock content %}