li a {
    color: green;
    background-color: aquamarine;
}
body{
    /* background-color: black; */
    background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));    /* background-image: inherit;
    background-image: initial;
    background-image: revert;
    background-image: unset;  */
}